{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    ["es2015", {"modules": false}],
    "stage-0",
    "react"
  ],
  "env": {
    "test" : {
      "plugins":[
        ["module-resolver", {
          "root": ["./app"]
        }],
        "transform-es2015-modules-commonjs",
        "transform-runtime"
      ]
    },
    "development": {
      "plugins": ["transform-runtime"]
    },
    "production": {
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
