.o_day-picker {
	color: #333333;
}

.o_day-picker .e_day-picker-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: white;
}

.o_day-picker .i_day-picker-title {
	padding: 10px;
	text-align: center;
	font-size: 1.1em;
}

.o_day-picker .e_day-picker-arrow-container {
	cursor: pointer;
	padding: 10px;
}

.o_day-picker .i_day-picker-arrow-left {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right:5px solid black;
}

.o_day-picker .i_day-picker-arrow-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
}


.o_day-picker .i_day-picker-header {
	display: flex;
	background: #cccccc;
	color: white;
}

.o_day-picker .i_day-picker-header  div {
	padding: 5px;
	width: 20%;
	height: 20%;
	text-align: center;
	font-size: 0.8em;
}

.o_day-picker .i_day-picker-body {
	cursor: pointer;
	background-color: white;
}

.o_day-picker .i_day-picker-row {
	display: flex;
	text-align: center;
	border: solid #eaecec;
	border-width: 0 0 0 1px;
}

.o_day-picker .i_day-picker-row > div {
	border: solid #cccccc;
	border-width:  0  1px 1px  0;
	width: 20%;
}

.o_day-picker .i_day-picker-row [class*="-day"] {
	padding: 5px;
	text-align: left;
	font-size: 0.7em;
	min-height: 4em;
	transition: .1s background linear;
	outline: none;
}

.o_day-picker .i_day-picker-row [class*="-day"]:hover {
	background-color: rgba(184, 233, 134, .4) !important;
}

.o_day-picker .i_day-picker-row .selected-day {
	color: white;
	background-color: #70bde2;
}

.o_day-picker .i_day-picker-row .prev-month-day {
	color: #b3b3b3;
}

.o_day-picker .i_day-picker-row .next-month-day {
	color: #b3b3b3;
}

.i_day-picker-actions button{
	cursor: pointer;
	border-radius: 3px;
	margin-top: 25px;
	text-align: center;
	padding: .4em 1.5em;
	font-size: 1em;
	text-transform: uppercase;
	margin-right: 20px;
	min-width: 150px;
	outline: none;
}
.o_day-picker  .i_day-picker-reset {
	border: 2px solid #8f8f8f;
	color: #8f8f8f;
}

.o_day-picker  .i_day-picker-reset:hover {
	background: #8f8f8f;
	color: #fff;
}

.o_day-picker  .i_day-picker-add-channel {
	 border: 2px solid #38b0ed;
	 color: #38b0ed;
}

.o_day-picker  .i_day-picker-add-channel:disabled {
	opacity: .2 !important;
}

.o_day-picker  .i_day-picker-add-channel:hover {
	background: #38b0ed;
	color: #fff;
}

.o_day-picker .i_day-picker-row .o_selected-day,
.o_day-picker .i_day-picker-row .o_selected-day:hover,
.o_day-picker .i_day-picker-row [class*="-day"][disabled]:hover{
	background: rgba(155, 155, 155, .2) !important;
	color: #000 !important;
	cursor: not-allowed !important;
}

.o_selected-current-channel-day {
	background: #b8e986 !important;
	color: #000 !important;
}


