.o_day-picker {
	color: #333333;
}

.o_day-picker .e_day-picker-buttons {
	display: flex;
	align-items: center;
	position: relative;
	background-color: white;
}

.o_day-picker .i_day-picker-title {
	flex-basis: 100%;
	padding: 10px;
	text-align: center;
}

.o_day-picker .e_day-picker-arrow-container {
	cursor: pointer;
	padding: 10px;
}

.o_day-picker .i_day-picker-arrow-left {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right:5px solid black;
}

.o_day-picker .i_day-picker-arrow-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
}


.o_day-picker .i_day-picker-header {
	display: flex;
	background: #cccccc;
	color: white;
}

.o_day-picker .i_day-picker-header  div {
	padding: 5px;
	width: 20%;
	height: 20%;
	text-align: center;
}

.o_day-picker .i_day-picker-body {
	cursor: pointer;
	background-color: white;
}

.o_day-picker .i_day-picker-row {
	display: flex;
	text-align: center;
	border: solid #eaecec;
	border-width: 0 0 0 1px;
}

.o_day-picker .i_day-picker-row > div {
	border: solid #eaecec;
	border-width:  0  1px 1px  0;
	width: 20%;
}

.o_day-picker .i_day-picker-row [class*="-day"] {
	padding: 5px;
	text-align: left;
	font-size: 0.7em;
	min-height: 4em;
}

.o_day-picker .i_day-picker-row .selected-day {
	color: white;
	background-color: #70bde2;
}

.o_day-picker .i_day-picker-row .month-day {}

.o_day-picker .i_day-picker-row .prev-month-day {
	color: #b3b3b3;
}

.o_day-picker .i_day-picker-row .next-month-day {
	color: #b3b3b3;
}

.o_day-picker  .i_day-picker-reset {
  width: 25%;
	cursor: pointer;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
}

.o_selected-day {
	background: #1a728f !important;
	color: white !important;
}


